@page
@model Muddlr.Api.Pages.NotFound

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>User Not Found</title>
</head>
<body>
<h1>Not Found</h1>
<div>
    The user profile you requested could not be found
</div>
</body>
</html>